h5 {
    color: orangered;
    text-align: center;
}
h2 {
    text-align: center;
    font-weight: 600;
}
.block5 {
    color: grey;
    font-family:monospace;
    margin-bottom: 20px;
    font-size: large;
}.block7 {
    font-family: monospace;
    font-size: large;
}

.block1 {
    float: left;
    width: 300px;
    height: 300px;
}
#block2 {
    clear: left;
    margin: 30px 100px 30px 230px;
}
.block3 {
    float: left;
    text-align: center;
    margin-left: 160px;
}
#button {
    color:white;
    background-color: orangered;
    width: 120px;
    height: 40px;
    float: left;
    clear: left;
    margin-left: 600px;
    margin-bottom: 40px;
    margin-top: 30px;
}
.block4 {
    float: left;
    clear: left;
}
.block6 {
    float: left;
    margin: 20px 20px 40px 100px;
}
.block8 {
    color: grey;
}